

.form-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25%;
}

/* .form-description {
    width: 200px;
    height: 200px;
    
    
} */

label {
    font-size: large;
    margin: .5em
    ;
}