.searchbar {
    display: flex;
    align-content: center;
    justify-content: center;
}

.userinfo {
    margin-left: 30%;
    margin-right: 30%;

}

th, td {

    padding-right: 2em;
    padding-left: 1em;
}